name: DP Deploy Preservica Client
on:
  workflow_dispatch:
jobs:
  deploy:
    uses: nationalarchives/tdr-github-actions/.github/workflows/sbt_release.yml@b6ba669dcee7fd4ac089c2e9fb234c48ddd93ab5
    with:
      library-name: "Preservica Client"
    secrets:
      WORKFLOW_PAT: ${{ secrets.WORKFLOW_TOKEN }}
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: sbt/setup-sbt@06192244f17880c9bf69ccd8de5b2e8785822be5 # v1.1.17
      - name: Update docs site
        run: |
          sbt 'docs / makeSite'
          git config --global user.email 181243999+tna-da-bot@users.noreply.github.com
          git config --global user.name tna-da-bot
          git checkout gh-pages
          rm -rf docs
          mkdir docs && cp -r site-docs/target/site/* docs
          git add docs
          git commit -m "Update site documentation"
          git push -u origin gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
